section {
    background-image: url('/KgcGpPNhES/IMG_2633.jpg');
    /* background-position: center; */

    /* background-size: contain; */
    background-repeat: no-repeat;
    background-color: blue;
    width: 700px;
    height: 600px;

    background-size: 200px 300px;
}
