@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap");


/*
font-family: "PT Serif", serif;
font-family: "Playwrite NG Modern", cursive;
*/


h1 {
  text-decoration: underline;
  text-transform: capitalize;
}
html {
  /* font-family: "PT Serif", serif;
  font-weight: 400;
  font-style: normal; */
  font-family: "Playwrite NG Modern", cursive;
}

.div1 {
  height: 200px;
  width: 200px;
  background-color: rgb(1, 1, 165);
  color: white;
  display: inline-block;
  text-align: center;
  
}
span {
  display: inline-block;
}

.div2 {
  height: 200px;
  width: 200px;
  background-color: rgb(1, 1, 224);
  color: white;
  display: inline-block;
  text-decoration: line-through;
}

.div3 {
  height: 200px;
  width: 200px;
  background-color: rgb(92, 0, 0);
  color: white;
  display: inline-block;
  text-transform: uppercase;
}

.div4 {
  height: 200px;
  width: 200px;
  background-color: rgb(175, 1, 1);
  color: white;
  display: inline-block;
  line-height: 25px;
}

.link{
  text-decoration: none;
  
}

.link a:hover{
  color: firebrick;
  text-decoration: none;
}
