@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+ES+Deco:wght@100..400&family=Playwrite+NG+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap");
/*
font-family: "Caveat", cursive;
font-family: "Playwrite DE Grund", cursive;
font-family: "Playwrite ES Deco", cursive;
font-family: "Playwrite NG Modern", cursive;
*/
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap');


/*
font-family: "Playwrite NG Modern", cursive;
font-family: "PT Serif", serif;
font-family: "Merienda", cursive;
*/


html {
  font-family: "Playwrite NG Modern", cursive;
  /* color: rgb(243, 202, 245); */
  /* background-image: url("/pawel-czerwinski-1A_dO4TFKgM-unsplash.jpg");
    background-size: cover; */
}

.notice {
  list-style-type: none;
  /* list-style: outside; */
  text-decoration: none;
  color: rgb(255, 1, 1);
  font-family: "Merienda", cursive;
  font-weight: bolder;
  font-size: 18px;
  /* display: inline-block; */
  /* border-top-style: dotted;
  border-bottom-style: dotted; */
  /* margin: 20px; */
}


span > a {
  text-decoration: none;
  /* color: rgb(243, 202, 245); */
  color: black;
}

span > a:hover {
  /* color: rgb(207, 20, 220); */
  color: crimson;
}

ol {
  list-style-type: circle;
}
li > a {
  text-decoration: none;
}
li > a:hover {
  /* color: rgb(207, 20, 220); */
  font-weight: bolder;
}
li > a {
  text-decoration: none;
  /* color: rgb(243, 202, 245); */
}


