@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Playwrite+DE+Grund:wght@100..400&family=Playwrite+ES+Deco:wght@100..400&family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+ID:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
/*
font-family: "Playwrite NG Modern", cursive;
font-family: "Caveat", cursive;
font-family: "Playwrite DE Grund", cursive;
font-family: "Playwrite ES Deco", cursive;
font-family: "Playwrite NG Modern", cursive;
font-family: "Playwrite ID", cursive;
---> Use Kode Mono for Explaining Codes, It is more convenient <---
font-family: "Kode Mono", monospace;
*/

html {
    font-family: "Playwrite NG Modern", cursive;
}

.visible-text, .info {
    font-weight: bold;
}

.info-for-container {
    font-family: "Kode Mono", monospace; 
}

#container {
    height: 650px;
    width: 650px;
    background-color: crimson;
    background-image: url('/BoxModel/folder03/square.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    padding: 40px;
    margin: 40px;
}

#container01{
    height: 650px;
    width: 650px;
    background-color: crimson;
    background-image: url('/BoxModel/folder03/square.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    /* Other ways to set Margin & Padding, */
    margin: 20px 40px 60px 80px; 
}

#container .visible-text, #container01 .visible-text {
    color: white;
}

#container02{
    height: 750px;
    width: 750px;
    background-color: navy;
    background-image: url('/BoxModel/folder03/square.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* Other ways to set Margin & Padding, */
    background-size: 750px 750px;
    margin: 45px; 
    padding: 45px;
    border: 10px solid rgb(0, 0, 0);
    color: white;
}