.div1 {
  width: 500px;
  height: 1400px;
  background-color: crimson;
  background-image: url("/PracticeSet-01/IMG_2633.jpg");
  background-repeat: no-repeat;
  background-size: 400px 700px;
  background-attachment: fixed;
}
