* {
    margin: 0;
    padding: 0;
}

.div1 {
    background-color: black;
    border: 8px solid crimson;
    height: 800px;
    width: 550px;
    padding: 15px;
    margin: 15px;
    border-radius: 50px;
    background-image: url('IMG_2633.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
}