html {
  font-family: "Playwrite NG Modern", cursive;
}

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap");

/*
font-family: "Playwrite NG Modern", cursive;
font-family: "PT Serif", serif;
font-family: "Merienda", cursive;
*/

.nav {
  height: 100px;
  /* width: 1400px; */
  background-color: rgb(0, 0, 0);
  color: white;
  /* display: inline-block; */
  text-align: left;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav a:hover {
  color: green;
}

nav a,
nav p {
  display: inline-block;
}
.div1 {
  width: 50%;
  height: 90vh;
  background-color: green;
  display: inline-block;
}

.div2 {
  width: 50%;
  height: 90vh;
  background-color: rgb(112, 112, 112);
  display: inline-block;
}

footer p:hover {
  /* color: green; */
  font-weight: bolder;
}

footer {
  text-align: center;
}

/* footer p {
    text-transform: capitalize;
} */
